:root {
  --accent-color: #404bbf;
  --primary-color: #434455;
  --primary-brand: #4d5ae5;
  --secondary-color: #2e2f42;
  --basic-white-color: #ffffff;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hiden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-color);
  background-color: var(--basic-white-color);
  font-size: 16px;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.container {
  max-width: 428px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }
}
.section-title {
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  color: var(--secondary-color);
}

.section-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: var(--secondary-color);
}

.section-description {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-color);
}

.modal-btn {
  margin-top: 48px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--basic-white-color);
  background-color: var(--primary-brand);
  -webkit-transition: background-color var(--animation);
  transition: background-color var(--animation);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--accent-color);
}

.modal-close-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  cursor: pointer;
  background: #e7e9fc;
  fill: #000000;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}

.icon-close-modal-btn:hover,
.icon-close-modal-btn:focus,
.modal-close-btn:hover,
.modal-close-btn:focus {
  background: var(--accent-color);
  fill: #ffffff;
}

.modal-form-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 169px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #ffffff;
  background-color: var(--primary-brand);
  -webkit-transition: background-color var(--animation);
  transition: background-color var(--animation);
}

.modal-form-submit:hover,
.modal-form-submit:focus {
  background-color: var(--accent-color);
}

.footer-modal-form-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 165px;
  height: 40px;
  margin-left: 24px;
  background: var(--primary-brand);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 2;
  color: white;
}

.footer-modal-form-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 165px;
  height: 40px;
  margin-left: 24px;
  background: var(--primary-brand);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 2;
  color: white;
}

.menu-portfolio-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
}

.menu-btn {
  border: none;
  border-radius: 4px;
  padding: 12px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--primary-brand);
  -webkit-transition: color var(--animation), background-color var(--animation), -webkit-box-shadow var(--animation);
  transition: color var(--animation), background-color var(--animation), -webkit-box-shadow var(--animation);
  transition: color var(--animation), background-color var(--animation), box-shadow var(--animation);
  transition: color var(--animation), background-color var(--animation), box-shadow var(--animation), -webkit-box-shadow var(--animation);
}

.menu-btn:hover,
.menu-btn:focus {
  background-color: var(--accent-color);
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
  .main-address {
    display: none;
  }
  .mobile-menu-open {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }
  .logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
    margin-right: 76px;
  }
  .page-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
.page-header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .mobile-menu-open {
    display: none;
  }
  .page-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
    margin-right: 120px;
  }
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
  }
  .menu-item {
    position: relative;
  }
  .menu-item:not(:last-child) {
    margin-right: 40px;
  }
  .menu-link {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
    -webkit-transition: color var(--animation);
    transition: color var(--animation);
  }
  .menu-link:hover,
.menu-link:focus {
    color: var(--accent-color);
  }
  .address-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 4px;
  }
  .contact-link {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: var(--primary-color);
    -webkit-transition: color var(--animation);
    transition: color var(--animation);
  }
  .contact-link:hover,
.contact-link:focus {
    color: var(--accent-color);
  }
  .current::after {
    position: absolute;
    left: 0;
    top: 45px;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    -webkit-transition: opacity var(--animation);
    transition: opacity var(--animation);
    opacity: 1;
  }
  .current {
    color: var(--accent-color);
  }
}
@media screen and (min-width: 1200px) {
  .page-header {
    border-bottom: 1px solid #E7E9FC;
  }
  .contact-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-color);
    -webkit-transition: color var(--animation);
    transition: color var(--animation);
  }
  .contact-link:hover,
.contact-link:focus {
    color: var(--accent-color);
  }
  .main-address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .address-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .mail {
    margin-left: auto;
    margin-right: 40px;
  }
}
.logo-spn {
  color: var(--primary-brand);
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  color: #f4f4fd;
}

.logo-spn-footer {
  color: var(--primary-brand);
}

@media screen and (max-width: 767px) {
  .hero {
    background-color: var(--secondary-color);
    padding-top: 112px;
    padding-bottom: 112px;
  }
  .hero-background {
    width: 100%;
    height: 432px;
    margin-right: auto;
    margin-left: auto;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(46, 47, 66, 0.7)), to(rgba(46, 47, 66, 0.7))), url("../images/Img-2x/hero-studio/bgi-mobile.jpg");
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/Img-2x/hero-studio/bgi-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .hero-title {
    max-width: 320px;
    margin-right: auto;
    margin-left: auto;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--basic-white-color);
  }
  .modal-btn {
    margin-top: 72px;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-color: var(--secondary-color);
    padding-top: 112px;
    padding-bottom: 112px;
  }
  .hero-background {
    width: 100%;
    height: 436px;
    margin-right: auto;
    margin-left: auto;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(46, 47, 66, 0.7)), to(rgba(46, 47, 66, 0.7))), url("../images/Img-2x/hero-studio/bgi-tablet.jpg");
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/Img-2x/hero-studio/bgi-tablet.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .hero-title {
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--basic-white-color);
  }
  .modal-btn {
    margin-top: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-color: var(--secondary-color);
    padding-top: 188px;
    padding-bottom: 188px;
  }
  .hero-background {
    max-width: 1440px;
    height: 600px;
    margin-right: auto;
    margin-left: auto;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(46, 47, 66, 0.7)), to(rgba(46, 47, 66, 0.7))), url("../images/Img-2x/hero-studio/bgi-desktop.jpg");
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/Img-2x/hero-studio/bgi-desktop.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .hero-title {
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--basic-white-color);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px), (min-resolution: 192dpi) and (max-width: 767px), (min-resolution: 2dppx) and (max-width: 767px) {
  .hero-background {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(46, 47, 66, 0.7)), to(rgba(46, 47, 66, 0.7))), url("../images/Img-2x/hero-studio/bgi-mobile@2x.jpg");
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/Img-2x/hero-studio/bgi-mobile@2x.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), (min-resolution: 192dpi) and (min-width: 768px), (min-resolution: 2dppx) and (min-width: 768px) {
  .hero-background {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(46, 47, 66, 0.7)), to(rgba(46, 47, 66, 0.7))), url("../images/Img-2x/hero-studio/bgi-tablet@2x.jpg");
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/Img-2x/hero-studio/bgi-tablet@2x.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), (min-resolution: 192dpi) and (min-width: 1200px), (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero-background {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(46, 47, 66, 0.7)), to(rgba(46, 47, 66, 0.7))), url("../images/Img-2x/hero-studio/bgi-desktop@2x.jpg");
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/Img-2x/hero-studio/bgi-desktop@2x.jpg");
  }
}
@media screen and (max-width: 1199px) {
  .section-subtitle {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--secondary-color);
  }
  .section-description {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-color);
  }
}
@media screen and (max-width: 767px) {
  .benefits {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .benefits-div-list {
    display: none;
  }
  .menu-benefits {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 72px;
  }
}
@media screen and (min-width: 768px) {
  .benefits {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .menu-benefits {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 72px 24px;
    margin-right: auto;
    margin-left: auto;
  }
  .menu-item-benefits {
    min-width: 356px;
    -ms-flex-preferred-size: calc((100% - 48px) / 2);
        flex-basis: calc((100% - 48px) / 2);
  }
  .benefits-div-list {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .benefits {
    padding-top: 120px;
    padding-bottom: 0px;
  }
  .menu-benefits {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 24px;
  }
  .menu-item-benefits {
    min-width: 264px;
    -ms-flex-preferred-size: calc((100% - 72px) / 4);
        flex-basis: calc((100% - 72px) / 4);
  }
  .benefits-div-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
  }
  .section-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color: var(--secondary-color);
  }
  .section-description {
    max-width: 264px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-color);
  }
}
@media screen and (max-width: 767px) {
  .doing-title {
    display: none;
  }
  .menu-example {
    display: none;
  }
  .example {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .doing-title {
    display: none;
  }
  .menu-example {
    display: none;
  }
  .example {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .menu-example {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 24px;
  }
  .menu-item-img {
    -ms-flex-preferred-size: calc((100% - 48px) / 3);
        flex-basis: calc((100% - 48px) / 3);
  }
}
.team-card-content-wrapper .section-subtitle {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.team-card-content-wrapper .section-description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary-color);
}

.team {
  background-color: #f4f4fd;
}

.menu-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px;
  -ms-flex-preferred-size: calc((100% - 72px) / 4);
      flex-basis: calc((100% - 72px) / 4);
}
@media screen and (max-width: 767px) {
  .menu-team {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 72px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .menu-team {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 72px;
    -ms-flex-preferred-size: calc((100% - 144px) / 3);
        flex-basis: calc((100% - 144px) / 3);
  }
}

.team-card-content-wrapper {
  text-align: center;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
          box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
}

.social-list-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary-brand);
  -webkit-transition: background-color var(--animation);
  transition: background-color var(--animation);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-color);
}

.social-list-icon {
  width: 16px;
  height: 16px;
}

.customers-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
}
@media screen and (max-width: 767px) {
  .customers-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 72px;
    -webkit-column-gap: 16px;
       -moz-column-gap: 16px;
            column-gap: 16px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .customers-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 72px;
    -webkit-column-gap: 24px;
       -moz-column-gap: 24px;
            column-gap: 24px;
  }
}

.customers-list-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px;
  width: 168px;
  height: 88px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  fill: #8e8f99;
  -webkit-transition: border var(--animation), fill var(--animation);
  transition: border var(--animation), fill var(--animation);
}
@media screen and (max-width: 767px) {
  .customers-list-link {
    width: 100%;
  }
}

.customers-list-link:hover,
.customers-list-link:focus {
  fill: #404bbf;
  border: 1px solid #404BBF;
}

.customers-list-item {
  max-width: 168px;
  -ms-flex-preferred-size: calc((100% - 16px) / 2);
      flex-basis: calc((100% - 16px) / 2);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .customers-list-item {
    -ms-flex-preferred-size: calc((100% - 16px) / 4);
        flex-basis: calc((100% - 16px) / 4);
  }
}

.footer {
  background-color: var(--secondary-color);
  padding-top: 100px;
  padding-bottom: 100px;
}
@media screen and (max-width: 767px) {
  .footer {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}

@media screen and (max-width: 767px) {
  .footer-mobile-logo {
    text-align: center;
  }
}

.footer-description {
  margin-top: 16px;
  width: 264px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}

.footer-social-description {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer-main-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .footer-main-div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 72px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-main-div {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: 108px;
    row-gap: 72px;
  }
}

.footer-right-div {
  width: 208px;
  margin-left: 120px;
}
@media screen and (max-width: 767px) {
  .footer-right-div {
    margin-left: auto;
    margin-right: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-right-div {
    margin-left: 24px;
  }
}

@media screen and (max-width: 767px) {
  .footer-left-div {
    margin-left: auto;
    margin-right: auto;
  }
}

.footer-social-description {
  margin-bottom: 16px;
}
@media screen and (max-width: 767px) {
  .footer-social-description {
    text-align: center;
  }
}

.footer-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.footer-social-list-icon {
  width: 24px;
  height: 24px;
}

.footer-social-list-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition: background var(--animation);
  transition: background var(--animation);
}

.footer-social-list-link:hover,
.footer-social-list-link:focus {
  background-color: #31d0aa;
}

.footer-modal {
  margin-left: 80px;
}
@media screen and (max-width: 767px) {
  .footer-modal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-modal {
    margin-left: 0px;
  }
}

.footer-modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .footer-modal-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 16px;
  }
}

.footer-modal-p {
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .footer-modal-p {
    text-align: center;
  }
}

.footer-modal-form-input {
  outline: none;
  min-width: 264px;
  height: 40px;
  padding-left: 16px;
  color: white;
  background-color: var(--secondary-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
@media screen and (max-width: 767px) {
  .footer-modal-form-input {
    width: 100%;
  }
}

.footer-modal-form-input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2px;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-modal-form-input::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2px;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-modal-form-input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2px;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-modal-form-input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2px;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-modal-form-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2px;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 16px;
}

.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  -webkit-transition: visibility var(--animation), opacity var(--animation);
  transition: visibility var(--animation), opacity var(--animation);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding-top: 72px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
}
@media screen and (min-width: 320px) and (max-width: 428px) {
  .modal {
    width: 95%;
  }
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-form-field {
  margin-bottom: 8px;
}

.modal-form-field-comment {
  margin-bottom: 16px;
}

.modal-p {
  display: block;
  margin-bottom: 14px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.modal-form-input-desc {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
  color: #8e8f99;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 38px;
  color: var(--primary-color);
  -webkit-transition: border-color var(--animation);
  transition: border-color var(--animation);
}

.modal-form-input:focus {
  border-color: var(--primary-brand);
  outline: none;
}

.modal-form-input-wrapper {
  display: block;
  position: relative;
}

.modal-form-input-icon {
  position: absolute;
  top: 50%;
  left: 19px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  width: 18px;
  height: 18px;
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}

.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--primary-brand);
}

.modal-form-comment {
  display: block;
  resize: none;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color var(--animation);
  transition: border-color var(--animation);
}

.modal-form-comment::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-comment::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-comment:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-comment::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-comment:focus {
  border-color: var(--primary-brand);
  outline: none;
}

.modal-form-privacy-policy {
  color: var(--primary-brand);
}

.modal-form-chek-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #757575;
}

.modal-form-chek-desc::before {
  display: block;
  width: 16px;
  height: 16px;
  border: 1.25px solid var(--secondary-color);
  border-radius: 2px;
  content: "";
  cursor: pointer;
  margin-right: 8px;
  -webkit-transition: background-color var(--animation), background-image var(--animation);
  transition: background-color var(--animation), background-image var(--animation);
}

.modal-form-chek:checked + .modal-form-chek-desc::before {
  background-color: var(--accent-color);
  background-image: url("../images/galka-form.svg");
  background-repeat: no-repeat;
  background-position: 50%, 50%;
}

.modal-form-chek:focus + .modal-form-chek-desc::before {
  outline: 1px solid var(--primary-brand);
}

.menu-portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 48px 24px;
  margin-top: 72px;
}

.menu-item-portfolio {
  -ms-flex-preferred-size: calc((100% - 48px) / 3);
      flex-basis: calc((100% - 48px) / 3);
}

.card-portfolio {
  display: block;
  -webkit-transition: -webkit-box-shadow var(--animation);
  transition: -webkit-box-shadow var(--animation);
  transition: box-shadow var(--animation);
  transition: box-shadow var(--animation), -webkit-box-shadow var(--animation);
}

.portfolio {
  padding-top: 96px;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: #f4f4fd;
  background-color: var(--primary-brand);
  padding-top: 40px;
  padding-left: 32px;
  padding-bottom: 164px;
  padding-right: 32px;
}

.menu-item-portfolio:hover .overlay {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.portfolio-img-content-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-card-content-wrapper {
  background: #ffffff;
  border: 1px solid #e7e9fc;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
}

.menu-portfolio .card-portfolio:hover,
.menu-portfolio .card-portfolio:focus {
  -webkit-box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
          box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.menu-portfolio .card-portfolio:hover .portfolio-card-content-wrapper,
.menu-portfolio .card-portfolio:focus .portfolio-card-content-wrapper {
  border: 0.5px solid #f4f4fd;
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: var(--basic-white-color);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transition: opacity var(--animation), visibility var(---animation), pointer-events var(--animation);
    transition: opacity var(--animation), visibility var(---animation), pointer-events var(--animation);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu-container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    padding: 40px;
  }
  .mobile-menu-close-btn {
    line-height: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    cursor: pointer;
    background: #e7e9fc;
    fill: #000000;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  .mobile-menu-close-btn:hover,
.mobile-menu-close-btn:focus {
    background: var(--accent-color);
    fill: #ffffff;
  }
  .mobile-menu-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    padding-top: 40px;
    margin-bottom: auto;
    gap: 40px;
  }
  .mobile-menu-item-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
    -webkit-transition: color var(--animation);
    transition: color var(--animation);
  }
  .mobile-menu-item-link:hover,
.mobile-menu-item-link:focus {
    color: var(--accent-color);
  }
  .mobile-menu-address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    gap: 40px;
    margin-bottom: 48px;
  }
  .mobile-contact-link-phone {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.1;
    color: var(--primary-brand);
  }
  .mobile-contact-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-color);
  }
  .mobile-social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 56px;
  }
  .mobile-social-list-icon {
    width: 24px;
    height: 24px;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.mobile-contact-link-phone {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.1;
  color: var(--primary-brand);
}
@media screen and (min-width: 320px) and (max-width: 428px) {
  .mobile-contact-link-phone {
    font-size: 22px;
  }
}

.mobile-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 56px;
}
@media screen and (min-width: 320px) and (max-width: 428px) {
  .mobile-social-list {
    gap: 28px;
  }
}/*# sourceMappingURL=main.css.map */