
.benefits {
   padding-bottom: 0;
 }
 
 .menu-benefits {
   display: flex;
   gap: 24px;
 }
 
 .menu-item-benefits {
   flex-basis: calc((100% - 72px) / 4);
 }
 
 .benefits-div-list {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 264px;
   height: 112px;
   background: #f4f4fd;
   border-radius: 4px;
 
   margin-bottom: 8px;
 }