.footer-modal {
   margin-left: 80px;
 }
 
 .footer-modal-form {
   display: flex;
   justify-content: center;
   align-items: center;
 }
 
 .footer-modal-p {
   margin-bottom: 16px;
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #ffffff;
 }
 
 .footer-modal-form-input {
   outline: none;
   min-width: 264px;
   height: 40px;
   padding-left: 16px;
   color: white;
   background-color: var(--secondary-color);
   border: 1px solid rgba(255, 255, 255, 0.3);
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
   border-radius: 4px;
 }
 
 .footer-modal-form-input::placeholder {
   font-weight: 400;
   font-size: 12px;
   line-height: 2px;
   letter-spacing: 0.04em;
   color: rgba(255, 255, 255, 0.6);
 }
 
 
 
 .footer-form-icon {
   display: flex;
   margin-left: 16px;
 }