.footer {
   background-color: var(--secondary-color);
   padding-top: 100px;
   padding-bottom: 100px;

   @include mobile-only { 
    padding-top: 96px;
    padding-bottom: 96px;
   }
 }
 
 .footer-mobile-logo {
  @include mobile-only {
    text-align: center;
   }

 }

 .footer-description {
   margin-top: 16px;
   width: 264px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #e7e9fc;
 }
 
 .footer-social-description {
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.02em;
 
   color: #ffffff;
 }
 
 .footer-main-div {
   display: flex;

   @include mobile-only {
    flex-direction: column;
    row-gap: 72px;
   }

   @include tablet-only { 
    flex-wrap: wrap;
    margin-left: 108px;
    row-gap: 72px;
   }
 }
 
 .footer-right-div {
   width: 208px;
   margin-left: 120px;

   @include mobile-only { 
    margin-left: auto;
    margin-right: auto;
    align-items: center;
   }

   @include tablet-only {
    margin-left: 24px;

   }
 }

 .footer-left-div { 
  @include mobile-only   {
    margin-left: auto;
    margin-right: auto;
  }
 }
 
 .footer-social-description {
   margin-bottom: 16px;

   @include mobile-only{
    text-align: center;
  }
 }
 
 .footer-social-list {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 16px;
 }
 
 .footer-social-list-icon {
   width: 24px;
   height: 24px;
 }
 
 .footer-social-list-link {
   display: flex;
   justify-content: center;
   align-items: center;
 
   width: 40px;
   height: 40px;
 
   border-radius: 50%;
   background: rgba(255, 255, 255, 0.1);
 
   transition: background var(--250ms-animation);
 }
 
 .footer-social-list-link:hover,
 .footer-social-list-link:focus {
   background-color: #31d0aa;
 }