.hero {
   background-color: var(--secondary-color);
   padding-top: 188px;
   padding-bottom: 188px;
 }
 
 .hero-background {
   max-width: 1440px;
   height: 600px;
   margin-right: auto;
   margin-left: auto;
   background-image: linear-gradient(
       to right,
       rgba(46, 47, 66, 0.7),
       rgba(46, 47, 66, 0.7)
     ),
     url('../images/people-office-hero.jpg');
 
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
 }
 
 .hero-title {
   max-width: 500px;
   margin-right: auto;
   margin-left: auto;
   font-weight: 700;
   font-size: 56px;
   line-height: 1.1;
   text-align: center;
   letter-spacing: 0.02em;
 
   color: var(--basic-white-color);
 }
 
 