.logo-spn {
   color: var(--primary-brand);
 }
 
 .logo {
   font-family: 'Raleway', sans-serif;
   font-weight: 800;
   font-size: 18px;
   line-height: 1.33;
   letter-spacing: 0.03em;
 
   color: var(--secondary-color);
 
   margin-right: 76px;
 }



 .logo-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  color: #f4f4fd;
}

.logo-spn-footer {
  color: var(--primary-brand);
}
