@media screen and (max-width:767px){

   .mobile-menu { 
      position: fixed;
      width: 100%;
      height: 100%;
      z-index: 999 ;
      top: 0;
      left: 0;
      background-color: var(--basic-white-color);
   
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      
      transition: opacity var(--250ms-animation), visibility var(--250ms-animation), 
      pointer-events var(--250ms-animation);
   }
   
   .mobile-menu.is-open {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
   }
   
   .mobile-menu-container { 
      position: relative;
      display: flex;
      width: 100%;
      height: 100%;
      flex-flow: column;
      padding: 40px;
   }
   
   .mobile-menu-close-btn { 
      line-height: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 24px;
      height: 24px;
      position: absolute;
      top: 24px;
      right: 24px;
      border-radius: 50%;
      cursor: pointer;
    
      background: #e7e9fc;
      fill: #000000;
      border: 1px solid rgba(0, 0, 0, 0.1);
   }
   
   .mobile-menu-close-btn:hover,
   .mobile-menu-close-btn:focus {
      background: var(--accent-color);
      fill: #ffffff;
    }
   
    .mobile-menu-nav { 
      display: flex;
      flex-flow: column;
      padding-top: 40px;
      margin-bottom: auto;
      gap: 40px;
   
    }
   
    .mobile-menu-item-link { 
      font-weight: 700;
      font-size: 36px;
      line-height: 1.1;
      letter-spacing: 0.02em;
      
      color: var(--secondary-color);
      transition: color var(--250ms-animation);
    }
   
    
    .mobile-menu-item-link:hover,
    .mobile-menu-item-link:focus {
      color: var(--accent-color);
    }
   
   
    .mobile-menu-address { 
      display: flex;
      flex-flow: column;
      gap: 40px;
      margin-bottom: 48px;
    }
   
    .mobile-contact-link-phone{ 
      font-weight: 600;
      font-size: 36px;
      line-height: 1.1;
      
      color: var(--primary-brand)
    }
   
    .mobile-contact-link { 
      font-weight: 500;
      font-size: 20px;
      line-height: 1.2;
      letter-spacing: 0.02em;
   
      color: var(--primary-color)
    } 
   
    .mobile-social-list {
      display: flex;
      justify-content:flex-start;
      gap: 56px;
    }
   
    .mobile-social-list-icon { 
      width: 24px;
      height: 24px;
    }
}

@media screen and (min-width:768px) {
   .mobile-menu{
      display: none;
   }    
}