.section-title {
   font-size: 36px;
   line-height: 1.1;
   text-align: center;
   letter-spacing: 0.02em;
   text-transform: capitalize;
   margin-bottom: 72px;
 
   color: var(--secondary-color);
 }
 
 .section-subtitle {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   margin-bottom: 8px;
 
   color: var(--secondary-color);
 }
 
 .section-description {
   line-height: 1.5;
   letter-spacing: 0.02em;
   margin-bottom: 8px;
 
   color: var(--primary-color);
 }